@import 'tailwindcss';

@import 'uploadthing/tw/v4';
@source "../node_modules/@uploadthing/react/dist"; /** <-- depends on your project structure */

@theme {
  /* Custom Breakpoints */
  --breakpoint-xs: 450px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;

  /* Custom font family */
  --font-family-sf-pro-display: 'SF Pro Display', sans-serif;

  /* Custom Colors */
  --color-primary: #345e40;
  --color-second: #97a483;
  --color-second-light: #edeef7;
  --color-third: #f7f2db;
  --color-dark: #2e2e2e;
  --color-white: #ffffff;
}

body {
  color: var(--color-dark);
  background: var(--color-white);
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.04em;
}

 
/* ---------------- Custom Animations ---------------- */
@layer utilities {
  /* Keyframes */
  @keyframes bounce-in {
    0% {
      opacity: 0;
      transform: scale(0.3) translateY(-50px);
    }
    60% {
      opacity: 1;
      transform: scale(1.05);
    }
    80% {
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1) translateY(0);
    }
  }

  @keyframes fade-in-left {
    0% {
      opacity: 0;
      transform: translateX(50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fade-in-right {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  /* Animation Classes */
  .animate-bounce-in {
    animation: bounce-in 1s ease-out forwards;
  }

  .animate-fade-in-left {
    animation: fade-in-left 0.8s ease-out forwards;
  }

  .animate-fade-in-right {
    animation: fade-in-right 0.8s ease-out forwards;
  }

  .animate-fade-in-up {
    animation: fade-in-up 0.8s ease-out forwards;
  }

  .animate-fade-in {
    animation: fade-in 1s ease-out forwards;
  }

  /* Animation Delay Helper (مثل animation-delay-1000) */
  .animation-delay-500 {
    animation-delay: 0.5s;
  }

  .animation-delay-1000 {
    animation-delay: 1s;
  }

  .animation-delay-1500 {
    animation-delay: 1.5s;
  }
}